<!DOCTYPE html>
<html>
<head>
  <title>AppossFile</title>
  <%= stylesheet_link_tag    "apposs_file/application", :media => "all" %>
  <%= javascript_include_tag "apposs_file/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
